PATTERN SOLVING PROBLEMS

____________________________________________________________________________________________________________

>>i loop represents num of lines
>>j loop represnts numof stars


1.Enter the value of n : 5
        * * * * *
        * * * * *
        * * * * *
        * * * * *
        * * * * *

In [2]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print("* ",end="")
    print()

* * * *
* * * *
* * * *
* * * *

2.Enter the value of n : 5
    *
    * * 
    * * * 
    * * * * 
    * * * * *

In [4]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

4.Enter the value of n : 5
    * * * * * 
    * * * * 
    * * * 
    * * 
    *

In [5]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("* ",end="")
    print()

* * * * *
* * * *
* * *
* *
*

3.Enter the value of n : 5
    *
   **
  ***
 ****
*****

In [20]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    print(" "*(n-i)+"*"*i)

    *
   **
  ***
 ****
*****

5.Enter the value : 5
    * * * * *
      * * * *
        * * *
          * * 
            *

In [28]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print("  "*(n-i)+"* "*i)

* * * * *
  * * * *
    * * *
      * *
        *

In [3]:
n=int(input("Enter the value of n : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if(j>=i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

6.Enter the value of : 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [2]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    print(" "*(n-i)+" *"*i)

     *
    * *
   * * *
  * * * *
 * * * * *

7.Enter the value :5
 * * * * *
  * * * *
   * * *
    * *
     *

In [40]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print(" "*(n-i)+" *"*i)

 * * * * *
  * * * *
   * * *
    * *
     *

8.Daimond shape pattern

In [43]:
n=int(input("Enter the value : "))
for i in range(1,n):
    print(" "*(n-i)+" *"*i)
for j in range(n,0,-1):    
    print(" "*(n-j)+" *"*j)

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

9.Enter value of : 5
            *
         *  *  *
      *  *  *  *  *

In [44]:
n=int(input("Enter the value : "))
for i in range(1,n+1,2):
    print(" "*(n-i) +"* "*i)
print()

    *
  * * *
* * * * *

10.Enter the value of : 5
        * * * * * 
          * * *  
            *

In [45]:
n=int(input("Enter the value : "))
for i in range(n,0,-2):
    print(" "*(n-i) +"* "*i)
print()

* * * * *
  * * *
    *

11.Enter the value of : 5
    1 1 1 1 1
    2 2 2 2 2
    3 3 3 3 3
    4 4 4 4 4
    5 5 5 5 5

In [5]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(f"{i}",end="")
    print()

11111
22222
33333
44444
55555

In [55]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    print(f"{i}"*n,end=" ")
    print()

11111
22222
33333
44444
55555

12.Enter the value of : 5
    1 2 3 4 5
    1 2 3 4 5
    1 2 3 4 5
    1 2 3 4 5
    1 2 3 4 5

In [48]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(f"{j}",end="")
    print()

12345
12345
12345
12345
12345

13.Enter the value of : 5
   1
   2 2
   3 3 3 
   4 4 4 4
   5 5 5 5 5

In [6]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    print(f"{i}"*i,end=" ")
    print()

1
22
333
4444
55555

14.Enter the value of : 5
    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [61]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(f"{j}",end="")
    print()

1
12
123
1234
12345

15.Enter the value of : 5
              1
            1 2
          1 2 3
        1 2 3 4
      1 2 3 4 5

16.Enter the value of : 5
    5 5 5 5 5
    4 4 4 4 4
    3 3 3 3 3
    2 2 2 2 2
    1 1 1 1 1

In [72]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(f"{i}",end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [75]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(f"{j}",end="")
    print()

12345
1234
123
12
1

In [102]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(f"{i}",end="")
    print()

11111
2222
333
44
5

In [103]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(f"{i}",end="")
    print()

55555
4444
333
22
1

In [105]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(f"{j}",end="")
    print()

54321
4321
321
21
1

In [106]:
n=int(input("Enter the value : "))
k=1
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(f"{k}",end="")
    k+=1    
    print()

11111
2222
333
44
5

In [148]:
n=int(input("Enter the value of : "))
for i in range(n,0,-1):
    for j in range(n,i-1,-1):
        print(f"{j}",end="")
    print()

5
54
543
5432
54321

In [174]:
n=int(input("Enter the value : "))
for i in range(n):
    print("  "* i,end= "")
    for j in range(n,i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [173]:
n=int(input("Enter the value : "))
for i in range(n):
    print("  "* i,end= "")
    for j in range(1,n-i+1):
        print(f"{j}",end=" ")  
    print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [189]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print("  "*(n-i),end= "")
    for j in range(i,0,-1):
        print(f"{i}",end=" ")  
    print()

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [199]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ")  
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [195]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ")  
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
#1
n=int(input("Enter the value : "))
for i in range(1,n):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ") 
    print()     
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ")  
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
#2
n=int(input("Enter the value : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ") 
    print()     
for i in range(n-1,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(f"{j}",end=" ")  
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

write a py program to print the uppercase alphabets from a to z

In [203]:
for ch in range(26):
    print(chr(ch+65))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [206]:
for ch in range(26):
    print(chr(ch+97),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [208]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(i+64),end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [209]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(chr(i+64),end=" ")
    print()

A A A A A
B B B B
C C C
D D
E

In [210]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,n+1):
        print(chr(i+64),end=" ")
    print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [211]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(i+64),end=" ")
    print()

E E E E E
D D D D
C C C
B B
A

In [245]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,n+1):
        print(chr(j+64),end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [219]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(n,0,-1):
        print(chr(j+64),end=" ")
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [221]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(i+96),end=" ")
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [222]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,n+1):
        print(chr(i+96),end=" ")
    print()

e e e e e
d d d d d
c c c c c
b b b b b
a a a a a

In [225]:
n=(int(input("Enter the value : ")))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(j+96),end=" ")
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [226]:
n=(int(input("Enter the value : ")))
for i in range(1,n+1):
    for j in range(n,0,-1):
        print(chr(j+96),end=" ")
    print()

e d c b a
e d c b a
e d c b a
e d c b a
e d c b a

In [228]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(chr(i+64),end=" ")
    print()

E
D D
C C C
B B B B
A A A A A

In [229]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(i,n+1):
        print(chr(j+64),end=" ")
    print()

E
D E
C D E
B C D E
A B C D E

In [233]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print(chr(j+64),end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

In [237]:
n=int(input("Enter the value : "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if(i%2==0):
            print("* ",end="")
        else:    
            print(chr(i+64),end=" ")
    print()

A A A A A
* * * * *
C C C C C
* * * * *
E E E E E

In [239]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(i+64),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [240]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(i+96),end=" ")
    print()

a
b b
c c c
d d d d
e e e e e

In [241]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(j+64),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [242]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(j+96),end=" ")
    print()

a
a b
a b c
a b c d
a b c d e

In [246]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(i+96),end=" ")
    print()

e e e e e
d d d d
c c c
b b
a

In [247]:
n=int(input("Enter the value of : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(j+64),end=" ")
    print()

A B C D E
A B C D
A B C
A B
A

In [248]:
n=int(input("Enter the value of : "))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(chr(j+96),end=" ")
    print()

a b c d e
a b c d
a b c
a b
a

In [260]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(i+64),end="")
    print()

    A
   BB
  CCC
 DDDD
EEEEE

In [261]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(j+64),end="")
    print()

    A
   AB
  ABC
 ABCD
ABCDE

In [262]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(i+96),end="")
    print()

    a
   bb
  ccc
 dddd
eeeee

In [263]:
n=int(input("Enter the value of : "))
for i in range(1,n+1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(j+96),end="")
    print()

    a
   ab
  abc
 abcd
abcde

In [265]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(i+96),end="")
    print()

eeeee
 dddd
  ccc
   bb
    a

In [266]:
n=int(input("Enter the value : "))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(i+64),end="")
    print()

EEEEE
 DDDD
  CCC
   BB
    A

In [268]:
n=int(input("Enter the value of : "))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(j+96),end="")
    print()

abcde
 abcd
  abc
   ab
    a

In [269]:
n=int(input("Enter the value of : "))
for i in range(n,0,-1):
    print(" "*(n-i),end="")
    for j in range(1,i+1):
        print(chr(j+64),end="")
    print()

ABCDE
 ABCD
  ABC
   AB
    A