In [ ]:
1.#ATM withdrawal validation

In [ ]:
amt=int(input('Enter the amt:'))
if(amt<=5000 and amt%100==0):
    print("allow withdrawal")
else:
    print("insufficient balance")

insufficient balance

In [1]:
#another 
amount=int(input('Enter the amount:'))
acc_balance=5000
if(amount<=acc_balance and amount%100==0):
    print("Withdrawal Succesful")
else:
    print("Insufficient Balance")

Insufficient Balance

In [3]:
#ternary 
amt=int(input('Enter a amt'))
res="withdrawal successful" if (amt<=5000 and amt%100==0) else "Insufficient Balance"
print(res)

withdrawal successful

In [ ]:
2.#traffic signal decision

In [7]:
light=input('enter the color: ').lower()
if(light=='red'):
    print("stop immediately")
elif(light=='yellow'):
    print("get ready to move")
elif(light=='green'):
    print("you can go")

you can go

In [ ]:
3.#movie ticket pricing

In [15]:
age=int(input('Enter the age:'))
if(0<age<=12):
    print("150rs")
elif(age>=12 and age<=18):
    print("200rs")
elif(age>18):
    print("300rs")  
else:
    print("invalid age")

invalid age

In [ ]:
4.#employee overtime pay

In [24]:
emp=int(input('Enter the number:'))
res="₹100 for extra hour" if (emp>8 ) else "no overtime pay"
print(res)

no overtime pay

In [ ]:
5.# restaurant discount system

In [27]:
amt=int(input('Enter the amt:'))
if(amt>1000):
    dis=amt*0.1
    amt=amt-dis
    print(amt)
elif(amt>500):
    dis=amt*0.05
    amt=amt-dis
    print(dis)
elif(amt<=500):
    print("no discount")

6300.0

In [ ]:
7.#water reminder app

In [39]:
wra=int(input('enter num of hours:'))
if(wra>=4):
    print("you are dehydrated!Drink water now!")
elif(wra>=2 and wra<=3):
    print("Drink a glass of water")
elif(wra<2):
    print("you are fine")

you are fine

In [ ]:
1.#
List=[10,20,30,40]
Tuple=(10,20,30,40)
Set={10,20,30,40}
print(List,type(List))
print(Tuple,type(Tuple))
print(Set,type(Set))

[10, 20, 30, 40] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>
{40, 10, 20, 30} <class 'set'>

In [ ]:
2.# for loop syntax

for element in sequence:
    body of for loop

In [ ]:
3.#range(stop)
#range(start,stop)
#range(start,stop,stepsize)
R1=range(10)
print(R1)
print(type(R1))

range(0, 10)
<class 'range'>

In [ ]:
3.#range(stop)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
3.#range(start,stop)
for i in range(10,15):
    print(i)

10
11
12
13
14

In [45]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [46]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
4.#range(start,stop,stepsize)
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [48]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
5.#write a py program to print the natural numbers from 1 to n where n is the user's input

In [50]:
n=int(input('Enter the integer value:'))
print(f"Natural Numbers from 1 to {n}:")
for i in range(1,n+1):
    print(i)

Natural Numbers from 1 to 20:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
6.#write a py program to print natural numbers from n to 1

n=int(input('Enter the integer value:'))
print(f"Natural Numbers from 1 to {n}:")
for i in range(n,0,-1):
    print(i)

Natural Numbers from 1 to 10:
10
9
8
7
6
5
4
3
2
1

In [ ]:
7.#
n=int(input('Enter the integer value:'))
print(f"Natural Numbers from {n} to 1:")
for i in range(n,0,-1):
    print(i)

Natural Numbers from 7 to 1:
7
6
5
4
3
2
1

In [ ]:
8.#write a py program to print even numbers from 1 to n

n=int(input('Enter the integer value:'))
print(f"Even Numbers from 1 to {n}:")
for i in range(2,n+1,2):
    print(i)

Even Numbers from 1 to 10:
2
4
6
8
10

In [ ]:
9.#write a py program to print the even numbers from n to 1

n=int(input('Enter the integer value:'))
print(f"Even Numbers from {n} to 1:")
for i in range(n,0,-1):
    if(i%2==0):
        print(i)

Even Numbers from 23 to 1:
22
20
18
16
14
12
10
8
6
4
2

In [ ]:
10.#write py program to print odd numbers from 1 to n

n=int(input('Enter the integer value:'))
print(f"Odd Numbers from 1 to {n}:")
for i in range(1,n+1,2):
    print(i)

Odd Numbers from 1 to 14:
1
3
5
7
9
11
13

In [ ]:
11.#write a py program to print odd numbers from n to 1

n=int(input('Enter the integer value:'))
print(f"Odd Numbers from {n} to 1:")
for i in range(n,0,-1):
    if(i%2!=0):
        print(i)

Odd Numbers from 15 to 1:
15
13
11
9
7
5
3
1

In [ ]:
12.#write a py program to print the multiplication table of n

n=int(input('Enter the integer value:'))
print(f"Multiplication table of {n}:")
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Multiplication table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [74]:
#write a py program to print the reversed multiplication table of n  

n=int(input('Enter the integer value:'))
print(f"Reversed Multiplication table of {n}:")
for i in range(10,0,-1):
    print(f"{n} x {i} = {n*i}")

Reversed Multiplication table of 3:
3 x 10 = 30
3 x 9 = 27
3 x 8 = 24
3 x 7 = 21
3 x 6 = 18
3 x 5 = 15
3 x 4 = 12
3 x 3 = 9
3 x 2 = 6
3 x 1 = 3

In [79]:
#write a py program to print the multiplication tables from 1 to n where as n is an integer input from the user 

n=int(input('Enter the integer value:'))
print(f"Multiplication table from 1 to {n}:")
for i in range(1,n+1):
    for j in range(1,11):
        print(f"{i} x {j} = {i*j}")

Multiplication table from 1 to 5:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [85]:
#Electricity Bill Calculator

bill=int(input('Enter the billamt:'))
if(bill==100):
    bill=bill*5
    print(bill)
elif(100>bill<200):
    bill=bill*7
    print(bill)
elif(bill>200):
    bill=bill*10
    print(bill)

490

In [89]:
# Online Shopping free delivery

fd=int(input('Enter the cart value:'))
if(fd>=500):
    print("Free delivery applied")
else:
    print("Delivery charge ₹50 added")

Delivery charge ₹50 added

In [91]:
#ternary 

fd=int(input('Enter the cart value:'))
res="Free delivery applied" if(fd>=500) else "Delivery charge ₹50 added"
print(res)

Free delivery applied

In [99]:
#BMI fitness checker (body mass index)

bmi=float(input('Enter the weight:'))
if(bmi<18.5):
    print("Underweight")
elif(18.5<=bmi<25):
    print("Normal Weight")
elif(25<=bmi<30):
    print("overweight")
elif(bmi>=30):
    print("obesity")

obesity

In [101]:
#Loan Eligibility

slry=int(input('Enter the salary:'))
cs=int(input("Enter credit score:"))
if(slry>=3000 and cs>=700):
    print("Eligible")
else:
    print("Not Eligible")

Not Eligible

In [104]:
#Temperature Alert System

tmp=int(input('Enter the Temperature:'))
if(tmp<0):
    print("Freezing Weather")
elif(0>tmp<20):
    print("Cold Weather")
elif(21<tmp<35):
    print("Normal Weather")
elif(tmp>=35):
    print("Hot Weather")

Hot Weather

In [108]:
#Mobile Data Balance Checker

db=int(input("Enter the balance:"))
if(db==0):
    print("Recharge Required") 
elif(db<=100):
    print("Low Data Warning")
else:
    print("Sufficient Data Available")

Low Data Warning

In [117]:
#Train Ticket Concession

ff=int(input('Enter the Age:'))
if(ff<5):
    print("Free")
elif(5<=ff<=12):
    print("Half Ticket")
elif(13<=ff<=59):
    print("Full Ticket")
elif(ff>=60):
    print("30% Senior Citizen Discount")

Half Ticket